<div class="row">
  
  <!--ささやき一覧表示-->
  <div class="col-md-12">
    <!--ログインしていれば、フォロー画面へ-->
    <%= render 'follow_form' if logged_in? %>
    
    <% if @user.favorites.any? %>
      <h1>お気に入りのささやき一覧 (<%= @user.favorites.count %>)</h1>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
    
    <!--ページネーション-->
    <%= paginate(@microposts) %>
    
  </div>
</div>

